.block{
	height: fit-content;
	background: url(https://assets.nicepagecdn.com/11a8ddce/4267640/images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg);
	background-position: 50% 50%;
	background-size: cover;
}
.box0{
	height: fit-content;
	padding-left: 100px;
}
.box{
	height: fit-content;
}
.bob{
	height: fit-content;
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.circule{
	width: 225px;
	height: 225px;
	margin: 0 855px 0 0;
	background: #99e54d;
	border-radius: 50%;
}
.text{
	height: fit-content;
	padding: 30px 22px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text h2{
	font-size: 60px;
	font-weight: 700;
	margin: 0 auto;
	line-height: 1.1;
	font-family: sans-serif;
}
.text h6{
	width: 119px;
	margin: 20px auto 0;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	font-family: sans-serif;
	text-align: center;
}
.bob h7{
	font-size: 20px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	font-family: sans-serif;
	line-height: 1.2;
	margin-top: 20px;
}
.bob h1{
	font-size: 70px;
	color: white;
	font-weight: 700;
	padding-right: 750px;
	margin: 21px 60px 0 0;
	line-height: 1.1;
	font-family: sans-serif;
}
.bob a{
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 30px auto 0 0;
	padding: 16px 46px 17px;
	border-radius: 50px;
	color: white;
	background: #f1ae0e;
	text-decoration: none;
}




.block1{
	height: fit-content;
	background: #1a1a1a;
}
.box01{
	height: fit-content;
}
.box1{
	height: fit-content;
	padding: 60px 0;
}
.bob1{
	height: fit-content;
	display: flex;
	justify-content: center;
}
.bob1 img{
	width: 366px;
	height: 375px;
	object-fit: cover;
	border-radius: 50px;
}


.block2{
	height: fit-content;
	background: #1a1a1a;
}
.box02{
	height: fit-content;
}
.box2{
	height: fit-content;
	padding: 0 60px;
	margin: auto;
}
.box2 h2{
	font-size: 50px;
	font-family: sans-serif;
	color: white;
	font-weight: 700;
	margin: 20px 137px 0 1px;
}
.box2 h6{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
	margin: 20px auto 0 1px;
}
.box2 p{
	font-size: 20px;
	margin: 23px 1px 0;
	color: white;
}
.box2 img{
	width: 540px;
	height: 520px;
	object-fit: cover;
	border-radius: 50px;
}



.block3{
	height: fit-content;
	background: #1a1a1a;
}
.box03{
	height: fit-content;
}
.box3{
	height: fit-content;
	padding: 60px 0;
}

.block4{
	height: fit-content;
	background: #1a1a1a;
}
.box04{
	height: fit-content;
}
.box4{
	height: fit-content;
	padding: 0 60px;
	margin: auto;
}
.box4 h2{
	font-size: 50px;
	font-family: sans-serif;
	color: white;
	font-weight: 700;
	margin: 20px 137px 0 1px;
}
.box4 h6{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
	margin: 20px auto 0 1px;
}
.box4 p{
	font-size: 20px;
	margin: 23px 1px 0;
	color: white;
}
.box4 img{
	width: 540px;
	height: 520px;
	object-fit: cover;
	border-radius: 50px;
}



.block5{
	height: fit-content;
	background: #1a1a1a;
}
.box05{
	height: fit-content;
}
.box5{
	height: fit-content;
	margin: auto;
	text-align: center;
	padding: 20px 0;
}
.box5 h2{
	font-size: 60px;
	color: white;
	font-weight: 800;
	font-family: sans-serif;
	line-height: 1.1;
	margin: 60px auto 0;
	text-align: center;
}
.box5 p{
	color: white;
	text-align: center;
	font-size: 20px;
	margin: 30px auto 0;
}
.box5 img{
	width: 545px;
	height: 484px;
	object-fit: cover;
	border-radius: 50px;
}
.box5 h6{
	margin: 30px auto 0;
	font-size: 20px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
	font-family: sans-serif;
}
.box5 button{
	background: #99e54d;
	margin: 30px auto 0;
	padding: 16px 43px 16px 42px;
	border-radius: 50px;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}


.block6{
	height: fit-content;
	background: #1a1a1a;
}
.box06{
	height: fit-content;
}
.box6{
	height: fit-content;
	padding: 0 60px;
}
.box6 h2{
	font-size: 50px;
	font-family: sans-serif;
	color: white;
	font-weight: 700;
	margin: 20px 137px 0 1px;
}
.box6 h6{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
	margin: 20px auto 0 1px;
}
.box6 p{
	font-size: 20px;
	margin: 23px 1px 0;
	color: white;
}
.box6 img{
	width: 540px;
	height: 520px;
	object-fit: cover;
	border-radius: 50px;
}



.block7{
	height: fit-content;
	background: #1a1a1a;
}
.box07{
	height: fit-content;
}
.box7{
	height: fit-content;
	text-align: center;
}
.icon{
	width: 67px;
	height: 67px;
	font-size: 40px;
	border-radius: 50px;
	background: #99e54d;
	margin: 0 auto;
	padding: 13px;
	text-align: center;
}
.box7 h6{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
	color: white;
	margin: 20px 0 0;
}
.box7 p{
	font-size: 20px;
	font-weight: 600;
	line-height: 2.2;
	margin: 18px 0 0;
	color: white;
}
.box7 a{
	color: #f1ae0e;
	text-decoration: none;
}